body, h1, h2, h3, ul, li {
	margin: 0;
	padding: 0;
		
}
body{
	background: linear-gradient(to right, #C9D5FF, #7797FF, #C9D5FF );
}
@font-face {
    font-family: 'Amerika Pro';
    src: local('Amerika Pro'), url('amerikapro.woff2') format('woff2'), url('amerikapro.woff') format('woff'), url('amerikapro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
.hell {
	text-align: center;
	font-family: 'Amerika Pro';
    src: local('Amerika Pro'), url('amerikapro.woff2') format('woff2'), url('amerikapro.woff') format('woff'), url('amerikapro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
	font-size: 60px;
	color: #fff;
	
}
div {
	border: 2px solid #000;
	
}